body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
}

.tools {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    gap: 30px;
}

label {
    align-self: center;
}

#colorpicker {
    align-self: center;
    color: #000;
}

#sliderOutput {
    text-align: center;
}

#eraser {
    background-color: red;
}

#randomMode {
    background-color: red;
}
.canvas {
    height: 600px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    height: 37.5px;
    width: 37.5px;
    box-shadow: 0px 0px 1px gray;
}

.pixel:hover {
    background: #ccc7c7;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

